@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BMHANNAAir', 'Apple SD Gothic Neo',
        'Malgun Gothic',
        arial,
        sans-serif;
}

body {
    /* background: linear-gradient(#FDE1AE, #fff) no-repeat; */
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.nav {
    z-index: 1;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}