.container {
    height: 100vh;
    padding: 0 20px;
}

/* nav */
.nav {
    position: fixed;
    top: 30px;
    right: 30px;
}

.nav li {
    text-align: right;
}

.nav .menu_item {
    display: inline-block;
    font-size: 1.25em;
    margin-bottom: 15px;
    opacity: .7;
    text-align: right;
}

.nav .menu_item.active {
    opacity: 1;
    border-bottom: 1px solid #333;
}

/* global section */

.section {
    display: none;
    height: 100%;
}

.section.active {
    display: block;
}

/* about section */
.section .title {
    display: flex;
    justify-content: center;
    padding: 150px 0;
    font-size: 40px;
}

.section .title h2 {
    font-weight: normal;
}

#about .txt_wrap {
    font-size: 30px;
    text-align: center;
}

#about .txt_wrap strong {
    margin-bottom: 30px;
    display: block;
}

#about .txt_wrap p {
    line-height: 1.5;
}

/* skills */

#skills .txt_wrap {
    font-size: 23px;
    display: flex;
    justify-content: center;
}

#skills .txt_wrap li {
    margin-bottom: 30px;
}


/* portfolio */
#portfolio .title {
    padding-bottom: 100px;
}

#portfolio .content_title {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 100px;
    font-size: 20px;
}

#portfolio .content {
    position: relative;
}

#portfolio .page {
    overflow-y: auto;
    height: 800px;
    position: relative;
}

#portfolio .page::-webkit-scrollbar-track {
    background: transparent;
}

#portfolio .page::-webkit-scrollbar {
    background: transparent;
    width: 3px;
}

#portfolio .page::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

#portfolio .items {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: 1s ease-in-out;
    position: absolute;
    left: -100%;
    transform: translateX(-50%);
}

#portfolio .items.active {
    opacity: 1;
    display: block;
    left: 50%;
}

#portfolio .items li {
    margin-bottom: 15px;
}

#portfolio .items figure {
    width: 250px;
}

/* wave */
.wave_bg {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wave_item {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#FDE1AE, #F5F0EB, #04B6E9);
    transition: top 1s ease-in-out;
}

.wave_item:nth-child(2) {
    background: linear-gradient(#fde1ae00, #04b6e9, #0183e100);
}

.wave_item:nth-child(3) {
    background: linear-gradient(#f5f0eb00, #0183e1);
}